@import '../../packages/style/index';
@import '../../packages/style/base-dark';

::view-transition-old(root),
::view-transition-new(root) {
  animation      : none;
  mix-blend-mode : normal;
}

::view-transition-old(root) {
  z-index : 1;
}

::view-transition-new(root) {
  z-index : 2;
}

html, body {
  height : 100%;
  width  : 100%;
}
