@import '@yin-jinlong/h-ui/style/src/index.scss';
@import '@yin-jinlong/h-ui/style/src/base-dark.scss';

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
}

html, body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

code .line {
  border-bottom: rgb(128, 128, 128, 0.3) dashed 1px;
  display: inline-block;
  width: 100%;
}
