@use './tools/fns' as *;
@use './var' as *;

@include c(badge) {
  @include css-var(badge-color, get-css(color, danger));
  @include css-var(badge-text-color, get-css(color, white));

  align-items: center;
  background-color: get-css(badge, color);
  border-radius: #{$nums-max}px;
  box-sizing: content-box;
  color: get-css(badge, text-color);
  display: inline-flex;
  font-size: 0.6em;
  height: max-content;
  justify-content: center;
  min-width: 1em;
  padding: 0.5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: max-content;

  &[data-dot] {
    aspect-ratio: 1;
    min-width: 0;
    transform: translate(25%, -25%);
  }

}
