@use './var' as *;
@use './tools/fns' as *;
@use './theme/light' as theme;

* {
  margin  : 0;
  padding : 0;
}

// 动画过度类

[data-transition] {
  transition : all 0.3s ease-out;
}

[data-transition-fast] {
  transition : all 0.2s ease-out;
}

[data-transition-slow] {
  transition : all 0.4s ease-out;
}

// 尺寸类

[data-fill-width] {
  width : 100%;
}

[data-fill-height] {
  height : 100%;
}

[data-fill-size] {
  height : 100%;
  width  : 100%;
}

// 光标类

[data-pointer] {
  cursor : pointer;
}

[data-none-select] {
  -moz-user-select    : none;
  -webkit-user-select : none;
  user-select         : none;
}

// 布局类

[data-flex] {
  display : flex;
}

[data-flex-column] {
  display        : flex;
  flex-direction : column;
}

[data-flex-column-center] {
  align-items     : center;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

[data-flex-center] {
  align-items     : center;
  display         : flex;
  justify-content : center;
}

[data-relative] {
  position : relative;
}

[data-absolute] {
  left     : 0;
  position : absolute;
  top      : 0;
}

// 显示类

[data-empty-hide]:empty {
  display : none;
}

[data-break-line] {
  white-space : break-spaces;
  word-break  : break-word;
}

@mixin color-adds($name,$base,$count:5,$v:5%) {
  @for $i from 1 to $count+1 {
    @include css-var(color-#{$name}-#{$i}, color-addL($base, $i * $v));
  }
}

@mixin color-subs($name,$base,$count:5,$v:5%) {
  @for $i from 1 to $count+1 {
    @include css-var(color-#{$name}--#{$i}, color-subL($base, $i * $v));
  }
}

:root {
  @each $name, $color in $colors {
    @include css-var(color-#{$name}, $color);
    @include color-adds($name, $color, 6);
    @include color-subs($name, $color);
  }

  @each $name, $color in $light-colors {
    @include css-var(color-#{$name}, $color);
    @include color-subs($name, $color);
  }

  @each $name, $color in $dark-colors {
    @include css-var(color-#{$name}, $color);
    @include color-adds($name, $color);
  }

  @each $name, $size in $paddings {
    @include css-var(padding-#{$name}, $size);
  }

  @each $name, $size in $radius {
    @include css-var(radius-#{$name}, $size);
  }

  @include theme.background;
  @include theme.text;
  @include theme.border;

}

body {
  background                 : get-css(background, simple);
  color                      : get-css(text, color);
  transition-duration        : 0.2s;
  transition-property        : background-color, color;
  transition-timing-function : ease-out;
}
