@use 'tools/fns' as *;
@use 'tools/prefix' as *;
@use 'tools/size' as size;
@use 'tools/style' as *;

@mixin gen-colors($name) {
  --btn-color : #{get-css(color,$name)};

  @for $i from 1 to 7 {
    --btn-color-#{$i} : #{get-css(color,#{$name}-#{$i})};
  }

  @for $i from 1 to 6 {
    --btn-color--#{$i} : #{get-css(color,#{$name}--#{$i})};
  }
}


@mixin btn-type() {
  &[data-type='primary'] {
    background-color : var(--btn-color);
    color            : white;

    &:hover:not([data-disabled]) {
      background : var(--btn-color-1);
    }

    &:active:not([data-disabled]) {
      background : var(--btn-color--1);
    }

  }

  &[data-type='text'] {
    background : transparent;
    color      : var(--btn-color);
    padding    : 0;

    &[data-size] {
      padding       : 0;
      border-radius : 3px;
    }

    &:hover:not([data-disabled]) {
      color      : var(--btn-color--2);
      background : transparent;
    }

    &:active:not([data-disabled]) {
      color      : var(--btn-color--4);
      background : transparent;
    }

  }

  &[data-type='plain'] {
    color            : get-css(color, black-1);
    background-color : var(--btn-color-6);

    &:hover:not([data-disabled]) {
      background-color : var(--btn-color-5);
    }

    &:active:not([data-disabled]) {
      background-color : var(--btn-color-4);
    }

  }
}

@mixin btn-size() {
  &[data-size='small'] {
    padding : get-css(padding, small) get-css(padding, normal);
  }

  &[data-size='normal'] {
    padding : get-css(padding, normal) get-css(padding, large);
  }

  &[data-size='large'] {
    padding : get-css(padding, normal) get-css(padding, xxl);
  }

  &[data-size='xlarge'] {
    padding : get-css(padding, xlarge) get-css(padding, 4xl);
  }
}

@mixin btn-border() {

  &[data-border='true'] {
    border : 1px solid var(--btn-color--1);

    &[data-type='primary'] {
      border-color : var(--btn-color--2);
      border-width : 2px;
    }

    &[data-type='text'] {
      border-color : var(--btn-color-3);

      &:hover:not([data-disabled]) {
        border-color : var(--btn-color-1);
      }

      &:active:not([data-disabled]) {
        border-color : var(--btn-color--3);
      }
    }
  }

}

@mixin btn-shadow($shadow) {

  &[data-shadow='true'], &[data-shadow='always'] {
    box-shadow : $shadow;

    &[data-type='primary'] {
      box-shadow : $shadow;
    }
  }

  &[data-shadow='hover'] {
    &:hover:not([data-disabled]) {
      box-shadow : $shadow;
    }
  }

  @content
}


@include c(button) {
  @include gen-colors(primary);
  background-color : transparent;
  border           : 0 none transparent;
  border-radius    : get-css(radius, normal);
  box-sizing       : border-box;
  color            : inherit;
  @include css-prefix(user-select, none);

  &:hover:not([data-disabled]) {
    background : get-css(color, white--1);
  }

  &:active:not([data-disabled]) {
    background : get-css(color, white--3);
  }

  @include btn-type;
  @include btn-size;
  @include btn-border;

  $shadow          : color-mix(in srgb, var(--btn-color--2) 60%, transparent) 0 0 5px;
  @include btn-shadow($shadow);

  & + & {
    margin-left : 12px;
  }

}

@include dark-theme {

  @include c(button) {
    &:hover {
      background : get-css(color, black-3);
    }

    &:active {
      background : get-css(color, black-4);
    }

    @include btn-type;
    @include btn-size;
    @include btn-border;

    $shadow : color-mix(in srgb, var(--btn-color--2) 70%, transparent) 0 0 5px;
    @include btn-shadow($shadow);

  }
}
