@import 'tools/fns';

@mixin gen-colors($name) {
  --btn-color : #{get-css(color,$name)};

  @for $i from 1 to 7 {
    --btn-color-#{$i} : #{get-css(color,#{$name}-#{$i})};
  }

  @for $i from 1 to 6 {
    --btn-color--#{$i} : #{get-css(color,#{$name}--#{$i})};
  }
}


@mixin btn-type() {
  &[data-type='primary'] {
    background-color : var(--btn-color);
    color            : white;

    &:hover {
      background : var(--btn-color-1);
    }

    &:active {
      background : var(--btn-color--1);
    }

  }

  &[data-type='text'] {
    background-color : white;
    color            : var(--btn-color);
    padding          : 0;

    &:hover {
      color : var(--btn-color-1);
    }

    &:active {
      color : var(--btn-color--2);
    }

  }

  &[data-type='plain'] {
    background-color : var(--btn-color-6);

    &:hover {
      background-color : var(--btn-color-5);
    }

    &:active {
      background-color : var(--btn-color-4);
    }

  }
}

@mixin btn-size() {
  &[data-size='small'] {
    padding : get-css(padding, small) get-css(padding, normal);
  }

  &[data-size='default'] {
    padding : get-css(padding, normal) get-css(padding, large);
  }

  &[data-size='large'] {
    padding : get-css(padding, normal) get-css(padding, xxl);
  }

  &[data-size='xlarge'] {
    padding : get-css(padding, xlarge) get-css(padding, 4xl);
  }
}

@mixin btn-border() {

  &[data-border='true'] {
    border : 1px solid var(--btn-color--1);

    &[data-type='primary'] {
      border-color : var(--btn-color--2);
      border-width : 2px;
    }

    &[data-type='text'] {
      border-color : var(--btn-color-3);

      &:active {
        border-color : var(--btn-color--1);
      }
    }
  }

}

@mixin btn-shadow($shadow) {

  &[data-shadow='true'], &[data-shadow='always'] {
    box-shadow : $shadow;

    &[data-type='primary'] {
      box-shadow : $shadow;
    }
  }

  &[data-shadow='hover'] {
    &:hover {
      box-shadow : $shadow;
    }
  }

  @content
}


@include c(button) {
  @include gen-colors(primary);
  background-color    : transparent;
  border              : 0 none transparent;
  border-radius       : get-css(radius, normal);
  -moz-user-select    : none;
  -webkit-user-select : none;
  user-select         : none;

  &:hover {
    background : get-css(color, white--1);
  }

  &:active {
    background : get-css(color, white--3);
  }

  @include btn-type;
  @include btn-size;
  @include btn-border;

  $shadow             : color-mix(in srgb, var(--btn-color--2) 50%, transparent 50%) 0 0 10px;
  @include btn-shadow($shadow);

  & + & {
    margin-left : 12px;
  }

}
