@use './tools/fns' as *;

@include c(card) {
  background-color : get-css(color, background-simple-1);
  border           : #{get-css(color,border)} solid 1px;
  border-radius    : 10px;
  box-shadow       : 2px 2px 5px 0 rgba(128, 128, 128, 0.15);
  box-sizing       : border-box;
  margin           : 5px;
  min-width        : 200px;
  padding          : get-css(padding, xlarge);
  width            : max-content;

  & > div:not(:first-child) {
    margin-top : get-css(padding, large);
  }

}

@include c(card-header) {
  border-bottom : #{get-css(color,border-simple)} solid 2px;
  font-size     : 20px;
  font-weight   : 900;
}

@include c(card-content) {
  box-sizing : border-box;
  width      : 100%;
}

@include dark-theme {
  @include c(card) {

  }
}
