// 主要颜色集
$colors: (
    'primary':#EB6,
    'success':#6E6,
    'warning':#ED6,
    'danger':#E86,
    'info':#AAA,
    'emphasize':#86E,
    'gray':#808080,
);

// 主要颜色集
$light-colors: (
    'white':#FFF,
);

// 主要颜色集
$dark-colors: (
    'black':#000,
);

// 边距集
$paddings: (
    'small': 5px,
    'normal': 10px,
    'large' : 15px,
    'xlarge': 20px,
    'xxl': 25px,
    'xxxl': 30px,
    '4xl': 35px,
);

// 圆角集
$radius: (
    'small': 5px,
    'normal': 10px,
    'large': 15px,
);
