@use '@yin-jinlong/h-ui/style/src/tools/fns' as *;

[md] {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  h1, h2, h3 {
    margin: 0.5rem 0;
  }

  h1, h2, h3, h4, h5 {
    &:before {
      color: get-css(color, primary);
      content: '#';
      opacity: 0.1;
      transition: all 0.2s ease-out;
    }

    &:hover:before {
      opacity: 1;
    }

  }

  ul {
    list-style: disc inside;
    padding-left: 1em;
  }

  code {
    font-family: 'JetBrains Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    min-width: 100%;
  }

  pre {
    background-color: #FBFBFB;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 100%;
    padding: 1em;
    width: max-content;
  }

  code[inline] {
    background: rgb(128, 128, 128, 0.2);
    border-radius: 5px;
    padding: 0 0.5em;
  }

}

html[dark] [md] {
  pre {
    background-color: #1E1F22;
  }
}
