@use 'prism' as *;

$comment: #7A7E85;
$plain: #BCBEC4;

html[dark] {
  pre[class*='language-'], code[class*='language-'] {
    color: $plain;
  }

  code[class*='language-'] {

    &::-moz-selection {
      background: #214283;
    }

    &::selection, ::selection {
      background: #214283;
    }

  }

  @include code-color($comment: $comment, $plain: $plain) {

    &.number {
      color: #2AACB8;
    }

    &.operator {
      color: #C6B1AD;
    }

  }

  code[class='language-shell'] .token {
    &.function {
      color: #CB8352;
    }
  }

}

