$comment: #7A7E85;
$function: #56A8F5;
$keyword: #CB8352;
$plain: #BCBEC4;
$string: #6AAB73;

html[dark] {
  pre[class*='language-'], code[class*='language-'] {
    color: $plain;
  }

  pre {
    color: $plain;

    .token {

      &.attr-name, &.attr-name {
        color: $plain;
      }

      &.comment {
        color: $comment;
      }

      &.function {
        color: $function;
      }

      &.boolean,
      &.keyword {
        color: $keyword;
      }

      &.attr-value,
      &.string {
        color: $string;
      }

      &.prolog,
      &.doctype,
      &.cdata {
        color: hsl(30, 20%, 50%);
      }

      &.punctuation {
      }

      &.namespace {
      }

      &.tag,
      &.number,
      &.constant,
      &.symbol {
        color: #D5B778;
      }

      &.selector,
      &.char,
      &.builtin,
      &.inserted {
        color: hsl(75, 70%, 60%);
      }

      &.operator,
      &.entity,
      &.url,
      &.language-css .string,
      &.style .string,
      &.variable {
        color: hsl(40, 90%, 60%);
      }

      &.atrule,
      &.keyword {
        color: #CB8352;
      }

      &.regex,
      &.important {
        color: #E90;
      }

      &.important,
      &.bold {
        font-weight: bold;
      }

      &.italic {
        font-style: italic;
      }

      &.entity {
        cursor: help;
      }

      &.deleted {
        color: red;
      }

    }
  }

  code[class='language-shell'] .token {
    &.function {
      color: #CB8352;
    }
  }

}

