pre[class*='language-'],
code[class*='language-'] {
  color: #101010;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

code[class*='language-'] {

  &::-moz-selection {
    background: #B3D4FC;
  }

  &::selection, ::selection {
    background: #B3D4FC;
  }

}

@mixin code-color(
  $comment: #8C8C8C,
  $function: #56A8F5,
  $keyword: #CB8352,
  $plain: #101010,
  $string: #6AAB73
) {
  code {
    color: $plain;

    .token {

      &.attr-name, &.attr-name {
        color: $plain;
      }

      &.comment {
        color: $comment;
      }

      &.function {
        color: $function;
      }

      &.boolean,
      &.keyword {
        color: $keyword;
      }

      &.attr-value,
      &.regex,
      &.string {
        color: $string;
      }

      &.prolog,
      &.doctype,
      &.cdata {
        color: hsl(30, 20%, 50%);
      }

      &.number {
        color: #1750EB;
      }

      &.tag,
      &.constant,
      &.symbol {
        color: #D5B778;
      }

      &.selector,
      &.char,
      &.builtin,
      &.inserted {
        color: hsl(75, 70%, 60%);
      }

      &.operator {
        color: #67451A;
      }

      &.entity,
      &.url,
      &.language-css .string,
      &.style .string,
      &.variable {
        color: hsl(40, 90%, 60%);
      }

      &.atrule,
      &.keyword {
        color: #CB8352;
      }

      &.important {
        color: #E90;
      }

      &.important,
      &.bold {
        font-weight: bold;
      }

      &.italic {
        font-style: italic;
      }

      &.entity {
        cursor: help;
      }

      &.deleted {
        color: grey;
        text-decoration: line-through grey;
      }

      @content;
    }

  }

}

@include code-color;
