@function get-css($type,$name) {
  @return var(--h-#{$type}-#{$name})
}

@function color-setL($color,$light) {
  @return change-color($color, $lightness : $light)
}

@function color-addL($color,$light) {
  $l : lightness($color) + $light;
  @if $l > 100% {
    $l : 100%;
  }
  @return change-color($color, $lightness : $l)
}

@function color-subL($color,$light) {
  $l : lightness($color) - $light;
  @if $l < 0 {
    $l : 0;
  }
  @return change-color($color, $lightness : $l)
}

@mixin dark-theme() {
  html[dark] {
    @content
  }
}

// 设置css变量值，带命名前缀
@mixin css-var($name,$value) {
  $var   : --h-#{$name};
  #{$var}: $value;
}

// 类选择器
@mixin c($classname) {
  $cn : 'h-'+$classname;
  .#{$cn} {
    @content
  }
}
